.modul9 {
  background-color: #1b2024;
  color: white;
}
.modul9 .fa {
  background: rgba(255,255,255,0.05);
  border-radius: 100%;
  padding: 10px;
  width: 8%;
  color: white;
}
.modul9 .fa:hover {
  color: #D1A054;
}
.modul9 a {
  text-decoration: none;
}
.modul9 .contact {
  background-color: #1b2024;
  text-align: center;
}
.modul9 .contact .us {
  color: #D1A054;
}
.modul9 .contact ul {
  list-style: none;
}
.modul9 .Follow {
  text-align: center;
}
.modul9 .Follow .widgettitle {
  color: #D1A054;
}
footer {
  text-align: center;
  background-color: #1b2024;
  color: white;
}
