a {
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
  opacity: 0.8;
  color: white;
}
.modul0 {
  background-color: black;
  color: white;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.modul0 #top-bar {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #1b2024;
  position: relative;
  z-index: 10;
}
.modul0 .header-info i {
  margin-right: 5px;
  padding: 0;
}
.modul0 .header-info {
  margin: 0;
  opacity: 0.8;
  float: left;
}
.modul0 .header-info li {
  display: inline-block;
  margin-right: 30px;
  line-height: 40px;
  opacity: 0.8;
  padding: 0;
  list-style: none;
}
.modul0 .center {
  width: 1170px;
  margin: 0 auto;
}
.modul0 .social {
  float: right;
  border-right: 1px solid rgba(255,255,255,0.05);
  box-shadow: 1px 0 0 rgba(0,0,0,0.1);
}
.modul0 #top-bar .social a {
  text-decoration: none;
  width: 25px;
  line-height: 40px;
  text-align: center;
  opacity: 0.8;
  color: #fff;
}
.modul0 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.modul0 .additional-links {
  float: right;
  margin: 0;
  line-height: inherit;
}
.modul0 .additional-links li {
  display: inline-block;
  float: left;
  border-right: 1px solid rgba(255,255,255,0.05);
  box-shadow: 1px 0 0 rgba(0,0,0,0.08);
  padding: 0 10px;
  list-style: none;
}
