.modul-17 #our-clien {
  margin: 60px 0;
}
.modul-17 .section-title {
  text-align: center;
  margin-bottom: 40px;
}
.modul-17 .section-title .subtitle {
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #D1A054;
}
.modul-17 .section-title h1 {
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  display: inline-block;
  border-width: 1px 0;
  border-style: solid;
  padding: 5px 15px 1px;
  margin: 0;
}
.modul-17 .swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.modul-17 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
}
.modul-17 #our-clien .content {
  width: 450px;
  text-align: center;
  margin: 0 auto;
}
.modul-17 #our-clien .fa-quote-left {
  font-size: 30px;
  color: #ccc;
}
.modul-17 #our-clien .text {
  font-style: initial;
  line-height: 1.8;
  color: #999999;
}
.modul-17 #our-clien h2 {
  font-size: 16px;
  color: #D1A054;
  margin: 0;
  margin-bottom: 15px;
}
.modul-17 #our-clien .nav {
  text-align: center;
  margin-top: 15px;
  margin: 0 auto;
}
.modul-17 #our-clien .nav span {
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 2px;
  transition: all 0.3s ease;
}
.modul-17 #our-clien .nav span:hover {
  background-color: #1b2024;
  color: #fff;
}
.modul-17 .fa-quote-left:before {
  content: "\f10d";
}
