.modul10 #page-header {
  color: #fff;
  height: 470px;
  position: relative;
  background-position: 50%;
  background-color: #111;
  background-size: cover;
}
.modul10 #page-header .center {
  display: table;
  height: 100%;
  width: 100%;
}
.modul10 #page-header h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 45px;
  text-align: center;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  background: radial-gradient(ellipse at center,rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 30%);
}
